body {
  background-color: bisque;

}

#app {
  margin: auto;
  max-width: 800px;
  padding: 0 50px 0 50px;
}

.header {
  background-image: linear-gradient(to right, #99e08c, #f5b78b, #99e08c);
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.icons {
  background-image: linear-gradient(to right, #f5b78b, #99e08c, #99e08c);
}

#page-title {
  text-align: center;
  margin-top: 0;
}


.question {
  background-color: #99e08c;
  padding: 0 0 1px 5px;
  border-radius: 5px;
  border: black solid 1px;
  margin-bottom: 10px;
}

.category {
  background-color: #99e08c;
  padding: 5px;
  border-radius: 5px;
  border: black solid 1px;
  margin-bottom: 10px;
}

#categories {

}

h3 {
  padding: 0;
  margin: 0;
}

.input-box {
  background-color: #99e08c;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

.input-box * {
  margin-bottom: 20px;
}

.send-button * {
  margin-bottom: 0;
}

.button_ {
  margin: auto;
}


#categories {
  background-color: #99e08c;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

#questions {
  background-color: #99e08c;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

.edit-question-content * {
  margin: 10px 0 10px 0;
}

#question-category-selector {
  margin-bottom: 15px;
}
